/**
 * Theme Definitions
 */

:root {
	--background: #373b41;
	--foreground: #c5c8c6;
	--selected: #29c596;

	--normBg: var(--background);
	--semiBg: color(var(--normBg) shade(30));
	--darkBg: color(var(--normBg) shade(40));
	--duskBg: color(var(--normBg) shade(50));

	--normFg: var(--foreground);
	--semiFg: color(var(--normFg) shade(30));
	--darkFg: color(var(--normFg) shade(40));
	--duskFg: color(var(--normFg) shade(50));

	--centBg: var(--selected, var(--background));

	--size: 16px;
	--pad: 10px;
	--space: 3px;
	--radius: 3px;
	--lh: calc(var(--size) + 2 * var(--pad));
}

::placeholder {
	color: var(--normFg);
}

html, body {
	box-sizing: border-box;
	margin: 0;
}

html {
	padding: 0;
}

body {
	padding: var(--space);
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: var(--normBg);
	display: flex;
	flex-direction: column;
}

.s.r, .s.c {
	flex: 1;
	display: inline-flex;
	flex-wrap: wrap;
}

/**
 * Row
 */

.s.r {
	flex-direction: row;
}

/**
 * Column
 */

.s.c {
	flex-direction: column;
}

/**
 * Wrap
 */

.s.fw {
	flex: 0 auto;
}

/**
 * Expand
 */

.s.fe {
	height: 100%;
}

.s.vv, .s.vh {
	background: var(--darkBg);
	display: inline-flex;
	margin: var(--space);
	padding: var(--space);
	border-radius: var(--radius);
}

/**
 * Vertical View
 */

.s.vv {
	flex-direction: column;
	height: 100%;
}

/**
 * Horizontal View
 */

.s.vh {
	flex-direction: row;
	width: 100%;
}

.s.vv.wr {
	height: auto;
}

.s.vh.wr {
	width: auto;
}

.s.vv > .s.tx, .s.vv > .s.b, .s.vv > .s.li {
	width: calc(100% - 2 * var(--space));
}

.s.vh > .s.tx, .s.vh > .s.b, .s.vh > .s.li {
	height: calc(100% - 2 * var(--space));
}

.s.tx, .s.b, .s.li, .s.in {
	color: var(--normFg);
	outline: none;
	font-size: var(--size);
	line-height: var(--size);
	padding: var(--pad);
	margin: var(--space);
	border-radius: var(--radius);
}

.s.tx, .s.b, .s.li {
	border: none;
}

.s.in {
	border: 1px solid var(--normBg);
	background: var(--darkBg);
}

.s.b {
	background: var(--normBg);
	color: var(--normFg);
}

.s.b:hover {
	background: var(--semiBg);
	color: var(--semiFg);
}

.s.b:active {
	background: var(--darkBg);
	color: var(--darkFg);
}

.s.li {
	background: var(--darkBg);
	color: var(--darkFg);
}

.s.li:hover, .s.li.sel {
	background: var(--centBg);
	color: var(--normFg);
}

.s.in:hover {
	background: var(--semiBg);
}

.s.in:active, .s.in:focus {
	background: var(--duskBg);
}

.s.lh {
	height: calc(var(--lh) + 4 * var(--space));
}

.s.al {
	text-align: left;
}

.s.ac {
	text-align: center;
}

.s.ar {
	text-align: right;
}

.s.aj {
	text-align: justify;
}

.s.ns {
	user-select: none;
}

.s.ff {
	flex: 1;
}

.s.f1 {
	flex-grow: 1;
}

.s.f2 {
	flex-grow: 2;
}

.s.f3 {
	flex-grow: 3;
}

.s.f4 {
	flex-grow: 4;
}

.s.f5 {
	flex-grow: 5;
}

.s.f6 {
	flex-grow: 6;
}

.s.f7 {
	flex-grow: 7;
}

.s.f8 {
	flex-grow: 8;
}

.s.f9 {
	flex-grow: 9;
}

.s.f10 {
	flex-grow: 10;
}
