html
	head
		link(rel='stylesheet' href='./local/local.css')
		link(rel='stylesheet' href='./dist/studio.css')
		script(src='http://code.jquery.com/jquery-1.11.2.min.js')
		script.
			$(document).ready(function() {
				var body = $(document.body);
				body.on('click', '.s.li', function(e) {
					$(e.target).toggleClass('sel');
				});
				var progressbar = $('.s.pb:last');
				progressbar.animate({
					width: '100%'
				}, {
					step: function(now, fx) {
						progressbar.text('Progress: ' + now.toFixed(2) + '%');
					},
					duration: 4000
				});
			});
	body.s.ns
		.s.c.fe
			.s.r.fw
				.s.vh.lh.wr
					.s.tx List
					.s.li Item A
					.s.li.sel Item B
					.s.li Item C
					.s.li.sel Item D
			.s.r.fw
				.s.vh.lh
					.s.tx List
					.s.li Item A
					.s.li.sel Item B
					.s.li Item C
					.s.li.sel Item D
			.s.r.fw
				.s.vh.lh
					.s.tx List
					.s.li Item A
					.s.li.sel Item B
					.s.li Item C
					.s.li.sel Item D
					input.s.in(placeholder='Type something...')
					.s.pr.ff
						.s.pb(style='width: 57%') Progress: 57%
					.s.pr.ff
						.s.pb(style='width: 32%') Progress: 32%
					.s.pr.ff
						.s.pb(style='width: 79%') Progress: 79%
					.s.pr.ff
						.s.pb(style='width: 2%') Progress: 2%
			.s.r.fw
				.s.vh.lh
					.s.tx List
					.s.li Item A
					.s.li.sel Item B
					.s.li Item C
					.s.li.sel Item D
					input.s.in.ff(placeholder='Type something...')
			.s.r.fw
				.s.vh.lh
					.s.tx List
					.s.li Item A
					.s.li.sel Item B
					.s.li Item C
					.s.li.sel.ff Item D
			.s.r
				.s.c
					.s.r
						.s.c.f1
							.s.vv.wr
								.s.tx.ac Some Buttons
								button.s.b Button
								button.s.b Button
								button.s.b Button
						.s.c.f1
							.s.vv.wr
								.s.tx List
								.s.li Item A
								.s.li.sel Item B
								.s.li Item C
								.s.li.sel Item D
						.s.c.f1
							.s.vv
								button.s.b Button
								button.s.b Button
								button.s.b Button
								input.s.in
						.s.c.f2
							.s.vv.wr
								button.s.b Wide Button
								button.s.b Wide Button
								button.s.b Wide Button
						.s.c.f1
							.s.vv
								button.s.b Button
								button.s.b Button
								button.s.b.ff Button
				.s.c
					.s.r
						.s.c.f1
							.s.vv.wr
								.s.tx.ac Some Buttons
								button.s.b Button
								button.s.b Button
								button.s.b Button
						.s.c.f1
							.s.vv.wr
								.s.tx List
								.s.li Item A
								.s.li.sel Item B
								.s.li Item C
								.s.li.sel Item D
						.s.c.f1
							.s.vv
								button.s.b Button
								button.s.b Button
								button.s.b Button
						.s.c.f2
							.s.vv.wr
								button.s.b Wide Button
								button.s.b Wide Button
								button.s.b Wide Button
						.s.c.f1
							.s.vv
								button.s.b Button
								button.s.b Button
								button.s.b.ff Button
			.s.r
				.s.c.f1
					.s.vv.wr
						.s.tx.ac Some Buttons
						button.s.b Button
						button.s.b Button
						button.s.b Button
				.s.c.f1
					.s.vv.wr
						.s.tx List
						.s.li Item A
						.s.li.sel Item B
						.s.li Item C
						.s.li.sel Item D
				.s.c.f1
					.s.vv
						button.s.b Button
						button.s.b Button
						button.s.b Button
				.s.c.f2
					.s.vv.wr
						button.s.b Wide Button
						button.s.b Wide Button
						button.s.b Wide Button
				.s.c.f1
					.s.vv
						button.s.b Button
						button.s.b Button
						button.s.b.ff Button
		//- .s.c
			.s.r.fw
				.s.vh.wr
					.s.vv.wr
						.s.tx.ac Some Buttons
						button.s.b Button
						button.s.b Button
						button.s.b Button
					.s.vv.wr
						.s.tx.ac Some Buttons
						button.s.b Button
						button.s.b Button
						button.s.b Button
					.s.vv.wr
						.s.tx.ac Some Buttons
						button.s.b Button
						button.s.b Button
						button.s.b Button
		//- .s.c.s.fe
			.s.r.fw
				.s.vh.lh.wr
					.s.tx List
					.s.li Item A
					.s.li.sel Item B
					.s.li Item C
					.s.li.sel Item D
			.s.r.fw
				.s.vh.lh
					.s.tx List
					.s.li Item A
					.s.li.sel Item B
					.s.li Item C
					.s.li.sel Item D
			.s.r.fw
				.s.vh.lh
					.s.tx List
					.s.li Item A
					.s.li.sel Item B
					.s.li Item C
					.s.li.sel.ff Item D
			.s.r
				.s.c
					.s.r
						.s.c.f1
							.s.vv.wr
								.s.tx.ac Some Buttons
								button.s.b Button
								button.s.b Button
								button.s.b Button
						.s.c.f1
							.s.vv.wr
								.s.tx List
								.s.li Item A
								.s.li.sel Item B
								.s.li Item C
								.s.li.sel Item D
						.s.c.f1
							.s.vv
								button.s.b Button
								button.s.b Button
								button.s.b Button
						.s.c.f2
							.s.vv.wr
								button.s.b Wide Button
								button.s.b Wide Button
								button.s.b Wide Button
						.s.c.f1
							.s.vv
								button.s.b Button
								button.s.b Button
								button.s.b.ff Button
				.s.c
					.s.r
						.s.c.f1
							.s.vv.wr
								.s.tx.ac Some Buttons
								button.s.b Button
								button.s.b Button
								button.s.b Button
						.s.c.f1
							.s.vv.wr
								.s.tx List
								.s.li Item A
								.s.li.sel Item B
								.s.li Item C
								.s.li.sel Item D
						.s.c.f1
							.s.vv
								button.s.b Button
								button.s.b Button
								button.s.b Button
						.s.c.f2
							.s.vv.wr
								button.s.b Wide Button
								button.s.b Wide Button
								button.s.b Wide Button
						.s.c.f1
							.s.vv
								button.s.b Button
								button.s.b Button
								button.s.b.ff Button
			.s.r
				.s.c.f1
					.s.vv.wr
						.s.tx.ac Some Buttons
						button.s.b Button
						button.s.b Button
						button.s.b Button
				.s.c.f1
					.s.vv.wr
						.s.tx List
						.s.li Item A
						.s.li.sel Item B
						.s.li Item C
						.s.li.sel Item D
				.s.c.f1
					.s.vv
						button.s.b Button
						button.s.b Button
						button.s.b Button
				.s.c.f2
					.s.vv.wr
						button.s.b Wide Button
						button.s.b Wide Button
						button.s.b Wide Button
				.s.c.f1
					.s.vv
						button.s.b Button
						button.s.b Button
						button.s.b.ff Button
