html
	head
		link(rel='stylesheet' href='./local/local.css')
		link(rel='stylesheet' href='./dist/studio.css')
		link(rel='stylesheet' href='./dist/studio-ql.css')
	body.s-ns
		.s-c.s-sw
			.s-r.s-fi
				.s-vh.s-lh.s-wr
					.s-li List
					.s-li List 1
					.s-li.s-sel List 11
					.s-li List 111
					.s-li.s-sel List 1111
			.s-r.s-fi
				.s-vh.s-lh
					.s-li List
					.s-li List 1
					.s-li.s-sel List 11
					.s-li List 111
					.s-li.s-sel List 1111
			.s-r.s-fi
				.s-vh.s-lh
					.s-li List
					.s-li List 1
					.s-li.s-sel List 11
					.s-li List 111
					.s-li.s-sel.s-ff List 1111
			.s-r
				.s-c
					.s-r
						.s-c.s-f1
							.s-vv.s-wr
								.s-li.s-ac Some Buttons
								button.s-b Button
								button.s-b Button
								button.s-b Button
						.s-c.s-f1
							.s-vv.s-wr
								.s-li List
								.s-li List 1
								.s-li.s-sel List 11
								.s-li List 111
								.s-li.s-sel List 1111
						.s-c.s-f1
							.s-vv
								button.s-b Button
								button.s-b Button
								button.s-b Button
						.s-c.s-f2
							.s-vv.s-wr
								button.s-b Wide Button
								button.s-b Wide Button
								button.s-b Wide Button
						.s-c.s-f1
							.s-vv
								button.s-b Button
								button.s-b Button
								button.s-b.s-ff Button
				.s-c
					.s-r
						.s-c.s-f1
							.s-vv.s-wr
								.s-li.s-ac Some Buttons
								button.s-b Button
								button.s-b Button
								button.s-b Button
						.s-c.s-f1
							.s-vv.s-wr
								.s-li List
								.s-li List 1
								.s-li.s-sel List 11
								.s-li List 111
								.s-li.s-sel List 1111
						.s-c.s-f1
							.s-vv
								button.s-b Button
								button.s-b Button
								button.s-b Button
						.s-c.s-f2
							.s-vv.s-wr
								button.s-b Wide Button
								button.s-b Wide Button
								button.s-b Wide Button
						.s-c.s-f1
							.s-vv
								button.s-b Button
								button.s-b Button
								button.s-b.s-ff Button
			.s-r
				.s-c.s-f1
					.s-vv.s-wr
						.s-li.s-ac Some Buttons
						button.s-b Button
						button.s-b Button
						button.s-b Button
				.s-c.s-f1
					.s-vv.s-wr
						.s-li List
						.s-li List 1
						.s-li.s-sel List 11
						.s-li List 111
						.s-li.s-sel List 1111
				.s-c.s-f1
					.s-vv
						button.s-b Button
						button.s-b Button
						button.s-b Button
				.s-c.s-f2
					.s-vv.s-wr
						button.s-b Wide Button
						button.s-b Wide Button
						button.s-b Wide Button
				.s-c.s-f1
					.s-vv
						button.s-b Button
						button.s-b Button
						button.s-b.s-ff Button
		.s-c.s-sw
			.s-r.s-fi
				.s-vh.s-lh.s-wr
					.s-li List
					.s-li List 1
					.s-li.s-sel List 11
					.s-li List 111
					.s-li.s-sel List 1111
			.s-r.s-fi
				.s-vh.s-lh
					.s-li List
					.s-li List 1
					.s-li.s-sel List 11
					.s-li List 111
					.s-li.s-sel List 1111
			.s-r.s-fi
				.s-vh.s-lh
					.s-li List
					.s-li List 1
					.s-li.s-sel List 11
					.s-li List 111
					.s-li.s-sel.s-ff List 1111
			.s-r
				.s-c
					.s-r
						.s-c.s-f1
							.s-vv.s-wr
								.s-li.s-ac Some Buttons
								button.s-b Button
								button.s-b Button
								button.s-b Button
						.s-c.s-f1
							.s-vv.s-wr
								.s-li List
								.s-li List 1
								.s-li.s-sel List 11
								.s-li List 111
								.s-li.s-sel List 1111
						.s-c.s-f1
							.s-vv
								button.s-b Button
								button.s-b Button
								button.s-b Button
						.s-c.s-f2
							.s-vv.s-wr
								button.s-b Wide Button
								button.s-b Wide Button
								button.s-b Wide Button
						.s-c.s-f1
							.s-vv
								button.s-b Button
								button.s-b Button
								button.s-b.s-ff Button
				.s-c
					.s-r
						.s-c.s-f1
							.s-vv.s-wr
								.s-li.s-ac Some Buttons
								button.s-b Button
								button.s-b Button
								button.s-b Button
						.s-c.s-f1
							.s-vv.s-wr
								.s-li List
								.s-li List 1
								.s-li.s-sel List 11
								.s-li List 111
								.s-li.s-sel List 1111
						.s-c.s-f1
							.s-vv
								button.s-b Button
								button.s-b Button
								button.s-b Button
						.s-c.s-f2
							.s-vv.s-wr
								button.s-b Wide Button
								button.s-b Wide Button
								button.s-b Wide Button
						.s-c.s-f1
							.s-vv
								button.s-b Button
								button.s-b Button
								button.s-b.s-ff Button
			.s-r
				.s-c.s-f1
					.s-vv.s-wr
						.s-li.s-ac Some Buttons
						button.s-b Button
						button.s-b Button
						button.s-b Button
				.s-c.s-f1
					.s-vv.s-wr
						.s-li List
						.s-li List 1
						.s-li.s-sel List 11
						.s-li List 111
						.s-li.s-sel List 1111
				.s-c.s-f1
					.s-vv
						button.s-b Button
						button.s-b Button
						button.s-b Button
				.s-c.s-f2
					.s-vv.s-wr
						button.s-b Wide Button
						button.s-b Wide Button
						button.s-b Wide Button
				.s-c.s-f1
					.s-vv
						button.s-b Button
						button.s-b Button
						button.s-b.s-ff Button
