html
	head
		link(rel='stylesheet' href='./local/local.css')
		link(rel='stylesheet' href='./dist/studio.css')
		link(rel='stylesheet' href='./dist/studio-ql.css')
	body
		.s-hl.s-lh
			.s-li List
			.s-li List 1
			.s-li.s-sel List 11
			.s-li List 111
			.s-li.s-sel List 1111
		.s-vv.s-200
			button.s-b Button
			button.s-b Button
			button.s-b Button
		.s-vl.s-200
			.s-li List
			.s-li List 1
			.s-li.s-sel List 11
			.s-li List 111
			.s-li.s-sel List 1111
		.s-vv.s-200
			button.s-b Button
			button.s-b Button
			button.s-b Button
		.s-vv.s-300
			button.s-b Wide Button
			button.s-b Wide Button
			button.s-b Wide Button
		.s-vv.s-200
			button.s-b Button
			button.s-b Button
			button.s-b Button
			
